@{
    @*Layout = "~/ Views / Shared / _LayoutFront.cshtml";*@
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- footer -->
<footer>
    <div class="container">
        <!-- footer first section -->
        <p class="footer-main">
            <span>"Consommi Tounsi"</span>
            Consommi description
        </p>

</footer>
