
@{
    ViewBag.Title = "showBarerr";
    Layout = null@*"~/Views/Shared/_LayoutAdmin.cshtml"*@;
}

<h2>
    bareerConsumed:
</h2>
<h1>
    @ViewBag.bareerConsumed
</h1>
<h2>
    bareeSession:
</h2>
<h1>
    @ViewBag.bareeSession
</h1>

<h2>
    bareerConsumedRsp:
</h2>
<h1>

    @ViewBag.bareerConsumedResps
</h1>
